<span style='color: #000' title='Frames'>   205</span><span style='color: #009' title='Memory'>  17152.00 KB</span><span style='color: #900' title='Time'>   8877.15 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />