
        <div class="col-md-12 no-padding">
            <img src="images/<?=$PSParams['PSCategories'][$passiontype]['banner']?>" alt="<?=$PSParams['PSCategories'][$passiontype]['name']?>" class="hide-mob">
            <img src="images/banner-small.jpg" alt="" class="show-mob">
        </div>
