        <div class="col-md-12 no-padding">
            <?=($usertype=='expert')?'<img src="images/banner-half2.jpg" alt="" class="hide-mob">':'<img src="images/banner-half1.jpg" alt="" class="hide-mob">'?>
            <img src="images/banner-small.jpg" alt="" class="show-mob"><span style='display:none'>x</span>
        </div>
