<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="notify-setngs">
                <span class="error-text">
                    <?=$server_response_text?>
                </span>
                <form class="form1" name="registration-form" method="post">
                   <input type="hidden" name="type" value="<?=$type?>">
                    <?php
                    foreach($$type as $key=>$setting)
                    {
                    ?>
                   <div class="row form-group">
                      <div class="col-xs-6">
                          <?=$setting?>
                      </div>
                      <div class="col-xs-6">
                            <?php
                            foreach($options1 as $key2=>$option)
                            {
                              $checked = '';
                              if($key2 == 'onpassionstreet')
                              $checked = 'checked';
                              echo "<label><input type='checkbox' name='".$key."[]' value='".$key2."' ".$checked.">".$option."</label>";
                            }
                            ?>

                      </div>
                   </div>
                    <?php
                    }
                    ?>
                   <div class="row form-group">
                      <div class="col-xs-4 col-xs-offset-4">
                        <input name="submit" class="form-control btn btn-primary" value="Update" type="Submit">
                      </div>
                   </div> 

                </form>
            </div>
        </div>
    </div>
</div>