<div class="col-md-12 banner_404">               
    <p>
        Oh! something went wrong, server is unable to respond your request right now. Please try after sometime.<br><br>
        You may like to go back to homepage... "<a href="<?=ROOT_PATH?>">CLICK HERE</a>"
    </p>
</div>