<?php
return;
?>
<div class="col-md-6 col-sm-6 col-lg-4 intro pull-right">
   <div class="video"> 
     
    <div class="video-box flexi-video unveil" vsrc="https://www.youtube.com/embed/9z8b9h52TPs/?rel=0&autoplay=1&autohide=1" src="<?=DEFAULT_IMG?>" data-src="http://i.ytimg.com/vi/9z8b9h52TPs/sddefault.jpg">
    </div>

   </div>
</div>

<div class="col-md-6 col-sm-6 col-lg-8 login_outer">
               
    <div class="intro">
   
         <p>
             In PASSIONSTREET its is all about live what you love to do the most in your life<br><br/>
                 Follow &amp; share the bond with others having similar PASSION, connect &amp; intract with experts, explore &amp; join groups participate in events and workshop, exhitit and Track record of your activities. It also allows you creating and managing events - a single window for ticketing iteractions, promotion and analytics.
         </p>
         
         <?php
	 if(empty($_SESSION['user']['profile_id']))
	 {?>
	  <div class="text-center">
	    <a class="btn btn-primary" href="register">Join PASSIONSTREET</a>
	  </div>
	  <br />
	  <?php
	  }
	?>
         
         <!--
         <div class="form-group">
            <label>Preview File Icon</label>
            <input id="file-3" name="filenew[]" type="file" multiple=true>
            <script>
                if(callbackselector['fileinput'] === undefined)
                callbackselector['fileinput'] = {};
                callbackselector['fileinput'] = "#file-3"; 
            </script>
         </div>-->
           
    </div>
    <!--/login box -->

</div>