<?php
$userPassions = array();
if($_SESSION['user']['passions'])
$userPassions = array_flip($_SESSION['user']['passions']);
?>
<div class="row">
<div class="col-md-12 no-padding banner">    
	<div class="banner-cells hover">        
	<?php        
	$temp = 1;   
	foreach($PSParams['PSCategories'] as $PSCategorykey=>$PSCategory)  
	{        
	/*        if(count($temp2)==0)        {            $temp2 = array("sm","sm","lg","lg");        }        $temp3 = array_rand($temp2);        */        
	$temp3 = '';        
	?>         
	<div class="cell <?=$temp2[$temp3]?> bg<?=$temp?>">
	<img class="unveil1" alt="<?=$PSCategory['name']?>" src1="<?=DEFAULT_IMG?>" src="<?=ROOT_PATH?>images/<?=$PSCategory['banner']?>">
	<div class="overlay">                 
	<a href="<?=$PSCategory['link']?>">
	<?=$PSCategory['name']?>
	<span><?=((!array_key_exists($PSCategorykey,$userPassions))?'<strong class="">Click Me</strong> If ':'')?>I am your Passion</span>
	</a>             
	</div> 
	</div>        
	<?php        
	unset($temp2[$temp3]);        $temp++;        
	}        
	?>
	</div>    
	<div class='show-mob'>
		<img class="unveil1" src1="<?=DEFAULT_IMG?>" src='<?=ROOT_PATH.'images/banner-small.jpg'?>'>
	</div> 
</div>
</div>