<table width="100%" cellspacing="0" cellpadding="0" style="font-size:14px;padding:0px">
    <tbody>
        <tr>
            <td style="padding-bottom:8px">
                <!--##psmailerbody##-->
            </td>
        </tr>
    </tbody>
</table>