<?php
$mailer_title = "Ticket for ".ucfirst($data['eventdetail']['eventname']);
$mailer_alt = "From Passionstreet";
/*
$filename = get_alphanumeric($data['eventdetail']['eventname'].'-'.$data['txndetail']['transactionid']).'.pdf';
$file_to_save = UPLOAD_DIR.DIRECTORY_SEPARATOR.'tickets'.DIRECTORY_SEPARATOR.'pdf'.DIRECTORY_SEPARATOR.$filename;
$file_to_save = $_SERVER['DOCUMENT_ROOT'].DIRECTORY_SEPARATOR.'tickets'.DIRECTORY_SEPARATOR.'pdf'.DIRECTORY_SEPARATOR.$filename;
$mailer_upload = array(array($file_to_save));

<table width="100%" cellspacing="0" cellpadding="0" style="font-size:14px;padding:0px">
    <tbody>
        <tr><td style="width:200px">filepath</td><td><?=$file_to_save?></td></tr>
    </tbody>
</table>
*/
?>
<?php
echo $data['html'];
?>