<?php
if(count($post_list)==0)
return;
?>
<div class="main-content">
    <div class="inner">
        <?php
	//if($headertext)
	//echo '<h1 class="hstyl_1">'.$headertext.'</h1>';
	foreach($post_list as $post)
        {
            renderer_post($post);
        }
	?>
        <div style="text-align:center"><a href="javascript:void(0);" data-nextlink="<?=$nextlink?>" id="nextwall" class="viewmorebtn">&nbsp;</a></div>
    </div>      
</div>
<script>
$(document).ready(function(){
    //initialisewall();
    delayfunction2(['wall.js'],'initialisewall','',1000);
    delayfunction2(['wall.js','cleverinfinitescroll.js'],'wallpaging','',1000);
});
</script>
<?php
$PSJsincludes['external'][] = "js/wall.js";
$PSJsincludes['external'][] = "js/cleverinfinitescroll.js";
?>