html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; -webkit-text-size-adjust:none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

/**
 * Minimal base styles.
 */

html { font-size: 100.01%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { font-size: 62.5%; line-height:1em; }

a:link, a:visited { text-decoration: none; cursor/**/: /**/pointer; }
a:link:hover, a:visited:hover { text-decoration: underline; }
:focus { outline: 0; }

/* Remove margins for navigation lists */
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }

/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.iem7 input[type="checkbox"] { vertical-align: baseline; }
input, select { vertical-align: middle; }
textarea { overflow:auto; }

/* Hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea { margin: 0; }

/* Make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 { font-weight: bold; line-height:1.2em; }

/* tables still need 'cellspacing="0"' in the markup */
table {	border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

/* blockquote , q and hr  */
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; content: none; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

/* Images and Default Classes  */
img { max-width:100%; vertical-align:bottom; }
img.alignleft{ float:left; margin:0 10px 10px 0; display: inline;}
img.alignright{ float:right; margin:0 0px 10px 10px; display: inline;}
img.aligncenter{ display:block; margin-left:auto; margin-right:auto; margin-bottom:10px;}

/* Default List Styles  */
ul, ol { list-style:none; }
li { line-height:1.2em; }
li ul, li ol { margin-bottom:0px; } 

/* 
 * Clearing Methods
 */
.clearfix:after { content: "."; display: block; font-size:0; height: 0; clear: both; visibility: hidden;}
.clearfix { display: block; }
.floatbox { overflow:hidden; }
.clear { clear: both; height:1px; line-height:1px; }

/* 
 * Generic classes 
 */
 
/*---- Floats ----*/
.flR { float: right; }
.flL { float: left; }

/*---- Horizontal Alignment ----*/
.alR { text-align: right; }
.alC { text-align: center; }

/*---- Hide ----*/
.hide { display: none; }

/* Primary Styles for mobile
*/
body{font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;}
#container{width:1000px; margin:0 auto;}
#header{font-size:36px; color:#000; margin-bottom:40px;padding-top:10px; line-height:1em; font-weight:bold;}
#header .logo{float:right; width:300px; margin-left:20px; margin-top:15px;}
#header span{display:block; font-size:20px;}

.ticket-info{margin-bottom:10px; font-size:18px; line-height:20px;}
.ticket-info .amount{float:right;}

table.ticket{border:1px solid #cfcfcf; margin-bottom:20px; }
table.ticket td{padding:20px; color:#555555; font-size:16px; vertical-align:middle; line-height:1.8em; border-bottom:1px solid #cfcfcf;}
strong{font-weight:bold;}

h2{font-size:36px; color:#000; line-height:1em; margin-bottom:10px;}
.box1{padding:20px; margin-bottom:20px; font-size:17px; line-height:22px; border:1px solid #cfcfcf;}
.box1 p{margin-bottom:5px;}

