
        <div class="col-md-12 no-padding">
            <button class="btn btn-yellow ajax-btn" data-action="post" data-aj="true" data-p-str="passion" data-t="passion-follow" data-passion="<?=$passiontype?>">Follow <?=$passiontype?></button>
        </div>