<div class="inner">
    <h2 class="hstyl_1 sm bx">Privacy Statement</h2>                
                        <div class="post bx-styl ">
        The release of Beta version of the site, effective as on: 10th September 2016<br><br>
        NetCorp Digital Media Private Limited (NDMPL) has conceptualized, designed and developed multilevel online activity based networking, events ticketing and e-commerce platform in the name of PASSIONSTREET (WWW.PASSIONSTREET.IN) for the purpose of making it available for collaborating with like minded passionate individuals, experts, groups and organizations to take part in Events &amp; Workshops, Wellness Programs, Adventure Tourism, Sports Activity Campaign and Promote &amp; Sell products and services online.<br><br>
        We work hard to earn and keep your trust and confidence on us; therefore your privacy protection is our top concern. We completely understand that you may not want everyone to get access to the information you share on PASSIONSTREET platform; the default setting of your privacy is public which means all provided information during registration and your activities on PASSIONSTREET are visible to everyone and that is why we give you complete control of your information and activities through PRIVACY-SETTINGS.  <br><br>
        We adhere to the following principles to protect your privacy:
        <ul style="list-style:lower-roman">
                <li>You should have full control over your personal information</li>
            <li>You should have access to the information others want to share with you.</li>
            <li>We do not sell your personally identifiable information for marketing purposes.</li>
            <li>Any personally identifiable information that you provide will be secured with industry standard protocols and technology. </li>
        </ul>
        We reserve the right to modify this privacy statement at any time, so please review it frequently. If we make any changes to this policy, we will notify you here, by email, or by means of a notice on our home page. By continuing to use the service after notice of changes have been sent to you or published on the WWW.PASSIONSTREET.IN  you are consenting, your willingness to abide by the changes.<br><br>
        <h3>1. The Personal Information We Collect</h3>
        The purpose of the PASSIONSTREET website is to provide a community based networking and event ticketing platform; therefore it allow members to voluntarily provide information about themselves for the purposes of creating, developing, maintaining and enhancing network contacts. You willingly provide us certain personal information, which we collect in order to allow you to benefit from the website. If you have any hesitation about providing such information to us and/or having such information displayed on the PASSIONSTREET website or otherwise used in any manner permitted in this Privacy Policy and the member Agreement, you should not become a member of the PASSIONSTREET networking platform.<br><br>
        In order to use the service of PASSIONSTREET, you first need to register on WWW.PASSIONSTREET.IN website. To create a registered account, you provide us certain personal information such as your name, gender, email address, telephone number, country, ZIP/postal code, a brief summary of your passion, achievements etc and a password chosen by you, which you recognize and expressly acknowledge is personal information allowing others, including PASSIONSTREET to identify you.<br><br>
        Once you become a member, you may provide additional information in the Profile section describing your skills, professional experiences, and networking objectives. Some of the additional information beyond what is required at registration to become a Registered User is either optional or mandatory depending on the profile preference you choose, but enables you to better identify yourself and find new opportunities in the platform to build and leverage your activities and network . Any information you provide at registration or in the Profile section that is not personally identifiable may be used in the same manner and extent to which other information that is not personally identifiable is permitted to be used hereunder, including for the purpose of serving advertisements through the service. If you opt-out you may lose the potential benefit of being a member, including receiving ads that are more targeted to your interests.<br><br>
        When you login to PASSIONSTREET website, we collect your browser type, IP address and machine ID. This information is gathered for all visitors of PASSIONSTREET. In addition, we store certain information from your browser using "cookies", which is a piece of data stored on the member's computer tied to information about the member. We use session ID cookies to confirm that members are logged in. These cookies terminate once the member closes the browser. By default, we use a persistent cookie that stores your login ID but not your password to make it easier for you to login when you come back to PASSIONSTREET. But you can remove or restrict this cookie using the settings in your browser if you want to disable this convenience feature.<br><br>
        When you use PASSIONSTREET, you may set up your personal profile, form relationships, send messages, perform searches and queries, form groups or communities, set up events, recommend others and transmit information through various channels. We collect this information so that we can provide you the service and offer personalized features. In most cases, we retain it so that, for instance, you can return to view prior messages you have sent or easily see your friend / follower list. When you update information, we usually keep a backup copy of the prior version for a reasonable period of time to enable reversion to the prior version of that information.<br><br>
        You post “User generated content” (UGC) on the Site at your own risk. It will be your responsibility to check the IPR of the content before posting it to PASSIONSTREET site. We allow you to set privacy options that limit access to your pages, please be aware that no security measures are perfect or impenetrable. We cannot control the actions of other Users with whom you may choose to share your pages and information. Therefore, we cannot and do not guarantee that UGC you post on the Site will not be viewed by unauthorized persons. We are not responsible for circumvention of any privacy settings or security measures contained on the Site. You understand and acknowledge that, even after removal, copies of UGC may remain viewable in cached and archived pages or if other users have copied or stored your UGC.<br><br>
        Any improper collection or misuse of information provided on PASSIONSTREET is a violation of the PASSIONSTREET Terms of Service and should be reported through the feedback form.<br><br>
        In order to inform others about the site or follow in PASSIONSTREET platform, you may use the PASSIONSTREET service to invite them if they are members, or provide their names and email addresses. We will send your friend an email or instant message in your name inviting him or her to visit the site, and may send up to multiple reminders to them to join your network. The names and email addresses of people that you invite will be used only to send your invitation and reminders.<br><br>
        We may also collect information about you from other sources including but not limited to newspapers, blogs, instant messaging services, and other members of the PASSIONSTREET service through the operation of the service (e.g., photo tags) in order to provide you with more useful information and a more personalized experience.<br><br>
        Due to the communications standards on the Internet, when you visit the PASSIONSTREET website we automatically receive the URL of the site from which you came and the site to which you are going when you leave the site. We also receive the Internet protocol (IP) address of your computer (or the proxy server you use to access the World Wide Web), your computer operating system and type of web browser you are using, email patterns, as well as the name of your ISP. This information is used to analyze overall trends to help us improve our service. The linkage between your IP address and your personally identifiable information is not shared with third-parties without your permission or except when required by law.<br><br>
        You have a right to access, modify, correct and eliminate the data about you which has been collected pursuant to your decision to become a member. If you update any of your information, we may keep a copy of the information which you originally provided to us in our archives for uses documented herein.<br><br>
        We take your rights seriously and encourage you to use them if you deem this to be appropriate. You may exercise these rights by emailing us at PRIVACY@PASSIONSTREET.IN <br><br>
        We do not knowingly collect or solicit personal information from anyone under the age of 13 or knowingly allow such persons to register. If you are a minor under age 13, please do not attempt to register for PASSIONSTREET or send any information about yourself to us, including your name, address, telephone number, or email address. No one under age 13 may provide any personal information to or on PASSIONSTREET. In the event that we learn that we have collected personal information from a minor under age 13 without verification of parental consent, we will delete that information as quickly as possible. If you believe that we might have any information from or about a minor under 13, please contact us through PRIVACY@PASSIONSTREET.IN<br><br>
        <h3>2. Use of Information We Collect</h3>
        Once you are registered with PASSIONSTREET, you create your own profile and privacy settings. Your profile information, as well as your name, email and photo, are displayed to people in the networks specified in your privacy settings to enable you to connect with people on PASSIONSTREET. We may occasionally use your name and email address to send you notifications regarding new services offered by PASSIONSTREET that we think you may find valuable.<br><br>
        Profile information is used by PASSIONSTREET primarily to be presented back to and edited by you when you access the service and to be presented to others permitted to view that information by your privacy settings. In some cases where your privacy settings permit it (e.g., posting to your UGC….), other PASSIONSTREET members may be able to supplement your profile.<br><br>
        Profile information you submit to PASSIONSTREET will be available to members of PASSIONSTREET who belong to at least one of the networks you allow to access the information through your privacy settings (e.g., passion category, event, followers, follower of followers etc.). Your name, network names, and profile picture thumbnail will be available in search results across the PASSIONSTREET network and those limited pieces of information may be made available to third party search engines. This is primarily so your friends / can find you and send a friend / follower request. People who see your name in searches, however, will not be able to access your profile information unless they have a relationship to you (follower, follower of follower, member of your networks, etc.) that allows such access based on your privacy settings.<br><br>
        PASSIONSTREET may send you service-related announcements from time to time through the general operation of the service. <br><br>
        Generally, you may opt out of such emails from the Notifications page, though PASSIONSTREET reserves the right to send you notice about your account even if you opt out of all voluntary email notifications.<br><br>
        PASSIONSTREET may use information in your profile without identifying you as an individual to third parties. We do this for purposes such as aggregating how many people in a network like a band and personalizing advertisements and promotions so that we can provide you in PASSIONSTREET. We believe this benefits you. You can know more about the world around you and, where there are advertisements, which are more likely to be interesting to you. <br><br>
        PASSIONSTREET takes the privacy of members very seriously. We do not sell, rent, or otherwise provide your personally identifiable information to third parties for marketing purposes. However, PASSIONSTREET is about sharing information with others &mdash; friends and people in your networks &mdash; while providing you with privacy settings that restrict other members from accessing your information. We allow you to choose the information you provide to friends / followers and networks through PASSIONSTREET. Our application architecture and your privacy settings allow you to make informed choices about who has access to your information. We will only share your personally identifiable information with third parties to carry out your instructions or to provide specific services or information. For instance, we use a credit card processing company to bill members for subscription fees, membership fee, buying event tickets or any other paid services which requires service payment to be collected through online transection processing. These third parties do not retain, share, or store any personally identifiable information except to provide these services and they are bound by confidentiality agreements which limit their use of such information.<br><br>
        PASSIONSTREET offers a “public profile” feature which allows memberss to publish certain information of their profile, including their “name”, but not their “email address” to the public Internet. Users may opt-out of this feature by editing their Privacy settings, however PASSIONSTREET does not warrant how often third-party search engines will update their cache.<br><br>
        We may offer our services in connection with other websites (including updates about the PASSIONSTREET service) or may team with other online services to give you the combined results of both services or additional services and benefits. <br><br>
        As a member, you will receive requests to participate in market research including polls and surveys submitted by other PASSIONSTREET members. If you participate in surveys and polls offered through our website, the information you provide may be visible to others using the PASSIONSTREET website. You may opt-out of participating by changing your Privacy Settings to stop receiving these inquiries and requests.<br><br>
        If you post on the Answers section of PASSIONSTREET, or import a blog, or participate in a Talk Now on PASSIONSTREET, you should be aware that any personally identifiable information you choose to provide there can be read, collected, or used by other members of these forums, as well as Platform Developers and other third parties, and could be used to send you unsolicited messages. PASSIONSTREET is not responsible for the personally identifiable information you choose to submit in these forums.<br><br>
        If you provide any testimonials about the PASSIONSTREET service we may post those testimonials in connection with PASSIONSTREET’s promotion of its service to third parties, which testimonials and advertisements may include your name and other personal information that you have provided. <br><br>
        Many emails you initiate through PASSIONSTREET, e.g., an invitation sent to a non-members, will list your email address and name in the header of the message. Emails you initiate may also provide aggregate information about your network (for instance how many people are in your network), but will not list the people to whom you’re directly connected. Other communications that you initiate through the PASSIONSTREET website, like a follow request, will list your name as the initiator but will not include your personal contact information. Your contact information will only be shared with another member if both of you have indicated that you would like to establish contact with each other.<br><br>
        It is possible that we may need to disclose personal information when required by law, such as responses to civil or criminal subpoenas, or other requests by law enforcement personnel. We will disclose such information wherein we have a good-faith belief that it is necessary to comply with a court order, ongoing judicial proceeding, subpoena, or other legal process or request to PASSIONSTREET brought in any country throughout the world, or to exercise our legal rights or defend against legal claims.<br><br>
        We may also disclose your personal and other information you provide, to another third party as part of reorganization or a sale of the assets of a PASSIONSTREET website or the company. Any third party to which we transfer or sell PASSIONSTREET assets will have the right to continue to use the personal and other information that you provide to us.<br><br>
        <h3>3. Links</h3>
        We may contain links to other websites. We are of course not responsible for the privacy practices of other web sites. We encourage our users to be aware when they leave our site to read the privacy statements of each and every web site that collects personally identifiable information. This Privacy Policy applies solely to information collected by PASSIONSTREET.<br><br>
        <h3>4.	Third Party Advertising</h3>
        Advertisements that appear on PASSIONSTREET are sometimes delivered (or "served") directly to members by third party advertisers. They automatically receive your IP address when this happens. These third party advertisers may also download cookies to your computer, or use other technologies such as JavaScript and "web beacons" (also known as "1x1 gifs") to measure the effectiveness of their ads and to personalize advertising content. Doing this allows the advertising network to recognize your computer each time they send you an advertisement in order to measure the effectiveness of their ads and to personalize advertising content. In this way, they may compile information about where individuals using your computer or browser saw their advertisements and determine which advertisements are clicked. PASSIONSTREET does not have access to or control of the cookies that may be placed by the third party advertisers. Third party advertisers have no access to your contact information stored on PASSIONSTREET unless you choose to share it with them.<br><br>
        This privacy policy covers the use of cookies by PASSIONSTREET and does not cover the use of cookies or other tracking technologies by any of its advertisers.<br><br>
        <h3>5.	Changing or Removing Information</h3>
        Access and control over most personal information on PASSIONSTREET is readily available through the profile editing tools. PASSIONSTREET members may edit, modify or remove any of their profile information at any time by logging into their account. Information will be updated immediately. Individuals who wish to deactivate their PASSIONSTREET account may do so by sending a email request to CUSTOMERCARE@PASSIONSTREET.IN Upon receiving the request we will initiate the process of removing your account from PASSIONSTREET platform. This may however take more than one working day but less than five working days. Removed information may persist in backup copies for a reasonable period of time but will not be generally available to members of PASSIONSTREET.<br><br>
        Where you make use of the communication features of the service to share information with other individuals on PASSIONSTREET, however, (e.g., sending a personal message to another PASSIONSTREET member) you generally cannot remove such communications.<br><br>
        <h3>6.	Security</h3>
        We at PASSIONSTREET, take appropriate precautions to protect our members' information. Your account information is located on a secured server behind a firewall. When you enter sensitive information (such as credit card number or your password), we encrypt that information using secure socket layer technology (SSL). Because email and instant messaging are not recognized as secure communications, we request that you not send private information to us by email or instant messaging services. If you have any questions about the security of PASSIONSTREET Web Site, please contact us through PRIVACY@PASSIONSTREET.IN<br><br>
        <h3>7. Terms of Use, Notices and Revisions</h3>
        Your use of PASSIONSTREET, and any disputes arising from it, is subject to this Privacy Policy as well as our Terms of Use and all of its dispute resolution provisions including arbitration, limitation on damages and choice of law. We reserve the right to change our Privacy Policy and our Terms of Use at any time. Non-material changes and clarifications will take effect immediately, and material changes will take effect within 15 days of their posting on this site. If we make changes, we will post them and will indicate at the top of this page the policy's new effective date. If we make material changes to this policy, we will notify you here, by email, or through notice on our home page. We encourage you to refer to this policy on an ongoing basis so that you understand our current privacy policy. Unless stated otherwise, our current privacy policy applies to all information that we have about you and your account.<br><br>
        <h3>8.	How to Contact Us.</h3>
        If you have any questions about this privacy policy, please email us at CUSTOMERCARE@PASSIONSTREET.IN or through contact us form.
    </div>
</div>