            <div class="row">
            <div class="col-md-12">

                <h1 class="hstyl_1">JOIN EVENTS &amp; WORKSHOPS</h1>

            </div>
            </div>

<div class="row">
            <div class="card col-md-4 col-sm-6">

                <figure>

                    <a href="#"><img src="images/img1.jpg" alt=""></a>

                    <figcaption>

                        <span>20-12-2014</span> / <span>NEW YORK</span> <button class="btn-primary">JOIN NOW</button>

                    </figcaption>

                </figure>

                <h3><a href="#">MTB CARNIVAL</a></h3>

            </div>

            <div class="card col-md-4 col-sm-6">

                <figure>

                    <a href="#"><img src="images/img2.jpg" alt=""></a>

                    <figcaption>

                        <span>20-12-2014</span> / <span>NEW YORK</span> <button class="btn-primary">JOIN NOW</button>

                    </figcaption>

                </figure>

                <h3><a href="#">MTB CARNIVAL</a></h3>

            </div>

            <div class="card col-md-4 col-sm-6">

                <figure>

                    <a href="#"><img src="images/img3.jpg" alt=""></a>

                    <figcaption>

                        <span>20-12-2014</span> / <span>NEW YORK</span> <button class="btn-primary">JOIN NOW</button>

                    </figcaption>

                </figure>

                <h3><a href="#">MTB CARNIVAL</a></h3>

            </div>

            <div class="card col-md-4 col-sm-6">

                <figure>

                    <a href="#"><img src="images/img4.jpg" alt=""></a>

                    <figcaption>

                        <span>20-12-2014</span> / <span>NEW YORK</span> <button class="btn-primary">JOIN NOW</button>

                    </figcaption>

                </figure>

                <h3><a href="#">MTB CARNIVAL</a></h3>

            </div>

            <div class="card col-md-4 col-sm-6">

                <figure>

                    <a href="#"><img src="images/img5.jpg" alt=""></a>

                    <figcaption>

                        <span>20-12-2014</span> / <span>NEW YORK</span> <button class="btn-primary">JOIN NOW</button>

                    </figcaption>

                </figure>

                <h3><a href="#">MTB CARNIVAL</a></h3>

            </div>

            <div class="card col-md-4 col-sm-6">

                <figure>

                    <a href="#"><img src="images/img1.jpg" alt=""></a>

                    <figcaption>

                        <span>20-12-2014</span> / <span>NEW YORK</span> <button class="btn-primary">JOIN NOW</button>

                    </figcaption>

                </figure>

                <h3><a href="#">MTB CARNIVAL</a></h3>

            </div>

            <div class="card col-md-4 col-sm-6 ">

                <figure>

                    <a href="#"><img src="images/img1.jpg" alt=""></a>

                    <figcaption>

                        <span>20-12-2014</span> / <span>NEW YORK</span> <button class="btn-primary">JOIN NOW</button>

                    </figcaption>

                </figure>

                <h3><a href="#">MTB CARNIVAL</a></h3>

            </div>

            <div class="card col-md-4 col-sm-6">

                <figure>

                    <a href="#"><img src="images/img2.jpg" alt=""></a>

                    <figcaption>

                        <span>20-12-2014</span> / <span>NEW YORK</span> <button class="btn-primary">JOIN NOW</button>

                    </figcaption>

                </figure>

                <h3><a href="#">MTB CARNIVAL</a></h3>

            </div>

            <div class="card col-md-4 col-sm-6">

                <figure>

                    <a href="#"><img src="images/img3.jpg" alt=""></a>

                    <figcaption>

                        <span>20-12-2014</span> / <span>NEW YORK</span> <button class="btn-primary">JOIN NOW</button>

                    </figcaption>

                </figure>

                <h3><a href="#">MTB CARNIVAL</a></h3>

            </div>
            </div>
            