<div class="widget">
<div class="widget-heading">	
    <a class="more-lnk pull-right" href="<?=ROOT_PATH.'follow'?>">View all <i class="fa fa-angle-double-right" ></i>
</a>
    <h2 class="hstyl_1 sm"><?=$heading?></h2>
</div>
<div class="bx-styl">
    <div class="member-list tab-pane active" id="all">
        <div class="inner clearfix follow_lst">
           <ul> 
            <?php
            foreach($userslist['all'] as $user)
            {
                echo '<li>';
                renderer_member($user);
                echo '</l1>';
            }
            ?>
            </ul>
        </div>
    </div>
</div>
</div>
<script>
var $tempparams={};
$(".options").change(function(event){
        $tempparams['passionlevel']=$(this).val();
        /*$querystring='?';
        $.each($tempparams,function(i,v){
                $querystring+="&"+i+"="+v;
        });*/
        if($tempparams['passionlevel'] == 'all')
        $querystring = '';
        else
        $querystring = $tempparams['passionlevel'];
        location.assign(root_path+'follow/'+$querystring);
});
$(document).ready(function(){
    $(".options").children().filter(function() {
        return $(this).val() == q['passionlevel'];
    }).prop('selected', true);
})
</script>
<!--a href="<?=ROOT_PATH.'moduleAJX/'.$moduleName.'?pagetype=userprofile'?>" id="next">next</a-->
<script>
activeTab = "following";
$(document).ready(function(){
        /*
        $temp = ['following','follower'];
        
        if(!fndefined('cleverInfiniteScroll')){
            $temp2['cleverInfiniteScroll'] = setInterval(function(){
                if(fndefined('cleverInfiniteScroll')){
                    clearInterval($temp2['cleverInfiniteScroll']);
                    $.each($temp,function(i,v){
                        $('#'+v).cleverInfiniteScroll({
                            contentsWrapperSelector: '#'+v,
                            contentSelector: '#'+v+'>div',
                            nextSelector: '#next',
                            loadImage: 'ajax-loader.gif',

                            tab:v
                        });
                    });
               };
            },300);  
        }
        else{
            $.each($temp,function(i,v){
                $('#'+v).cleverInfiniteScroll({
                    contentsWrapperSelector: '#'+v,
                    contentSelector: '#'+v+'>div',
                    nextSelector: '#next',
                    loadImage: 'ajax-loader.gif',
                    tab:v
                });
            });

        }
        */
});
</script>