<div class="col-md-12"><h2 class="hstyl_2 mb-large"><span><i class="fa fa-pencil-square-o"></i>MANAGE YOUR EVENT</span></h2></div>
<div class="row">
<div class="col-md-12">
   <div class="msgbox1"> 
   <p>Congratulations, Your event / workshop has been published<br>
   	<small>Do you want to publish this event in your following social accounts? Click on the icon</small>
    <!--<a href="event/<?=$event['seopath']?>">Event</a> --></p>
    <div class="socialbar_2 circle">                                   
          <a class="fb" href="#"><i class="fa fa-facebook"></i></a>
          <a class="twtr" href="#"><i class="fa fa-twitter"></i></a>
           <a class="gplus" href="#"><i class="fa fa-google-plus"></i></a>
    </div>
    </div></div>
</div>