<?php

if(count($post_list)==0)
return;
?>
<div class="main-content">
    <div class="inner">
        <?php
	//if($headertext)
	//echo '<h1 class="hstyl_1">'.$headertext.'</h1>';
	foreach($post_list as $post)
        {
            format_post($post);
        }
	?>
        <div style="text-align:center"><a href="javascript:void(0);" data-nextlink="<?=$nextlink?>" id="nextwall" class="viewmorebtn">&nbsp;</a></div>
    </div>      
</div>
<script>
$(document).ready(function(){
    delayfunction2(['groupwall.js'],'initialisewall','',1000);
    delayfunction2(['groupwall.js','cleverinfinitescroll.js'],'wallpaging','',1000);
});
</script>
<?php
$PSJsincludes['external'][] = "js/bootbox.min.js";
$PSJsincludes['external'][] = "js/groupwall.js";
$PSJsincludes['external'][] = "js/cleverinfinitescroll.js";
?>
<style type="text/css">
.overlay-spinner {
    position: absolute;    
    color: #000;
    font-size: 13px;
}
</style>