<table width=100% style="border: 1px solid #cfcfcf;border-bottom:1px dashed #cfcfcf;padding:20px !important;background-color:#ffffff !important">
	<tr>
		<td width="130" valign="top">
			<img src="<!--##ticketbarcode##-->" width="100" style="border:1px solid #f2f2f2"/>
		</td>
		<td valign="top"> 
			Name<br />
			<strong><!--##ticketuser##--></strong><br />
			Ticket No. &nbsp;<strong><!--##ticketnumber##--></strong>
			<!--##ticketextra##-->
		</td>
		<td valign="top">
			Ticket Type<br />
			<strong><!--##tickettype##--></strong><br />
			Ticket Price<br /><strong><!--##ticketprice##--></strong>
		</td>
		
	</tr>
  </table>