<div class="bx-styl form1">
    <form action="" method="post">
        <table width="100%" class="event-signup-form">
            <tbody>
                    <?php
                    if($precondition['precondition']['type'] == 'objective')
                    {
                        echo '<tr><td class="qstn">Q.</td><td>'.$precondition['precondition']['text'].'</td></tr>';
                        echo '<tr><td></td><td><div class="row">';
                        foreach($precondition['precondition']['options'] as $key=>$options){
                            echo '<div class="radio  col-sm-3 col-xs-3"><label><input type="radio" value="'.$options.'" required="" name="optionsRadios">'.$options.'</label></div>';
                        }
                        echo '</div></td></tr>';
                        echo '<tr><td colspan=2 class="text-center"><br /><input type="submit" name="submit" class="btn btn-primary" value="Submit"></td></tr>';
                    }
                    ?>
        </tbody></table>
    </form>
</div>
<!--div class="bx-styl form1">
    <form action="" method="post">
        <table width="100%" class="event-signup-form">
            <tbody><tr>
                <td class="qstn">Q1.</td>
                <td>Why do you wnat to participate in the event?</td>
            </tr>
            <tr>
                <td></td>
                <td><textarea placeholder="Define question" required="" class="form-control sm"></textarea></td>
            </tr>
            <tr>
                <td class="qstn">Q2.</td>
                <td>Why do you wnat to participate in the event?</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <div class="row">
                        <div class="radio  col-sm-3 col-xs-3">
                            <label>
                              <input type="radio" value="option1" id="optionsRadios1" required="" name="optionsRadios">
                              Option1
                            </label>
                         </div>
                         <div class="radio  col-sm-3 col-xs-3">
                            <label>
                              <input type="radio" value="option1" id="optionsRadios1" required="" name="optionsRadios">
                              Option2
                            </label>
                         </div>
                         <div class="radio  col-sm-3 col-xs-3">
                            <label>
                              <input type="radio" value="option1" id="optionsRadios1" required="" name="optionsRadios">
                              Option3
                            </label>
                         </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="file" id="upload2" style="position: absolute; clip: rect(0px, 0px, 0px, 0px);" tabindex="-1"><div class="bootstrap-filestyle input-group"><input type="text" disabled="" placeholder="Upload photo/video" class="form-control "> <span class="group-span-filestyle input-group-btn" tabindex="0"><label class="btn btn-default " for="upload2"><span class="buttonText"> Browse</span></label></span></div>                            
                </td>
            </tr>
        </tbody></table>
    </form>
</div-->