<?php
if($profile_id != 0)
{?>
    <tr>
    	<td align="left" style="padding:15px 20px; font-size:12px; line-height:16px; font-family:Arial, sans-serif;color:#34495e; background:#f3f3f3; "><!--##psemail##--> has received this communication from www.passionstreet.in .If you wish not to receive mail , follow the link to <a href="<?=ROOT_PATH?>" target="_blank" style="font-family:Arial, sans-serif; color:#ff3c02; font-size:12px; text-decoration:none;">UNSUBSCRIBE</a> or <a href="<?=ROOT_PATH?>" target="_blank" style="font-family:Arial, sans-serif; color:#ff3c02; font-size:12px; text-decoration:none;">ADJUST YOUR NOTIFICATION SETTINGS</a><br/></a></td>
    </tr>
<?php
}
?>
    <tr>
    	<td align="left" style="padding:15px 20px; font-size:12px; line-height:16px; font-family:Arial, sans-serif;color:#34495e; background:#f3f3f3; ">Contact Us: <a href="mailto:social@passionstreet.in">social@passionstreet.in</a></td>
    </tr>
    <tr>
        <td align="left" style="padding:10px 20px; background:#34495e; font-size:12px; line-height:16px; font-family:Arial, sans-serif;color:#ffffff; ">
            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="50%" align="left">
                        Copyrights &copy;  <a href="https://passionstreet.in/" target="_blank" style="text-decoration:none;color:#ffffff;">PASSIONSTREET.IN</a>
                    </td>
                    <td width="50%" align="right">
                       <a href="<?=ROOT_PATH?>" target="_blank" style="font-family:Arial, sans-serif; color:#fff; font-size:12px; text-decoration:none;">Terms &amp; Conditions</a> | <a href="<?=ROOT_PATH?>" target="_blank" style="font-family:Arial, sans-serif; color:#fff; font-size:12px; text-decoration:none;">Privacy</a>  
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

</td>
</tr>
</table>
</body>
</html>


