<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width; initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>PassionStreet</title>

</head>
<body style=" font-family:Arial, Helvetica, sans-serif; background:#f7f7f7; padding:0; margin:0;">

<table width="100%" bgcolor="#f7f7f7" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif;">
<tr>
<td style="padding-bottom:20px;">

<table width="700" bgcolor="#ffffff" style="max-width:600px; background:#ffffff; " align="center" cellpadding="0" cellspacing="0"> 
    
    <tr>
    	<td align="left"><a href="<?=ROOT_PATH?>" target="_blank" style="border:0;"><img src="<?=ROOT_PATH?>images/mailer_headerV3.jpg" style="display:block; border:0; width:100%; vertical-align:top;" /></a></td>
    </tr>