
    <!-- content -->
    <tr>
    	<td  align="left" valign="top" style="">
        	<table width="100%"  cellpadding="0" cellspacing="0">
                <tr>
                    <td align="left" style="font-family:Arial, sans-serif; color:#333;font-size:14px; line-height:22px;">
                        <?php
                        if($mailcontent[$currentmailertype]['tpl'])
                        @include_once (TEMPLATE_DIR.'/mailer/mailertype/'.$mailcontent[$currentmailertype]['tpl']);
                        else
                        echo '<!--##psmailerbody##-->';
                        ?>
                    </td>
                </tr>
                
            </table>
        </td>
    </tr>
    <!-- /content -->