<div class="jumbotron">
    <h1><?=ucfirst($page['page_name'])?></h1> 
    <span class="label label-primary lead">Official Email : <?=$page['page_email']?></span><br />
    <span class="label label-primary lead">Created On : <?=generate_standard_date($page['dateadded'])?></span>
</div>

  
  